.form-container {
    /* filter: brightness(50%); */
    /* filter: grayscale(100%); */
    height: calc(100vh - 134px);
    /* overflow-y: scroll; */
}

.form-container-small-card {
    margin: 30px 0px 0px 30px;
    padding-bottom: 30px;
    padding-right: 40vw;
    height: calc(100vh - 164px);
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-container-small-card h3 {
    width: 50vw;
    color: white;
}

.form {
    background-color:  rgba(104, 96, 96, 0.5);
    border-radius: 10px;
    padding: 15px;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 15%;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: max-content;
}

.small-card-container {
    /* height: fit-content; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(119, 90, 36, 0.2);
    padding: 10px;
    margin: 15px 25px 15px 0px;
    border: 2px solid white;
    border-radius: 10px;
    width: 19vw;
}

.small-card-image {
   width: 90px;
}

.small-card-details {
    padding-left: 10px;
}

.small-card-doctor-name {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.small-card-doctor-specialization {
    color: grey;
    font-size: 12px;
    font-weight: 400;
}

.small-card-doctor-experience {
    font-size: 15px;
    color: grey;
}

.small-card-buttons {
    display: flex;
    justify-content: end;
    
}

.small-card-buttons button {
    margin: 5px 0px 0px 10px;
    background-color: #940e3a;
    /* background: none; */
    border: none;
    color: white;
    border-radius: 8px;
}

.booking-confirmation {
    height: calc(100vh - 134px);

}

.success-box {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: beige;
    height: 70vh;
    width: 30vw;
}

.success-box img {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
}

.success-box h1 {
    margin-top: 45%;
    display: flex;
    justify-content: center;
    text-align: center;
}