.App {
 background-color:  #2a2a2a;
}

.hero-background {
    background-image: url('./Assets/heroImage3.png');
    background-position: top right;
}

/* .hero-set {
    position: absolute;
    top: 0%;
    background-color: (255,255,255,0);
} */